.allProduct {
  padding:1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(220, 234, 238);
  align-items: flex-start;
}
.productLink {
  text-decoration: none;
  color: black;
  width: 300px;
  margin-bottom: 20px;
}
.productLink-container{
  min-height: 400px;
  background-color: #fff;
  padding:10px 16px;
  border-radius: 5px;
}
.productLink__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.productLink__img {
  width: 100%;
}
